body{
    margin: 0px;
    padding: 20px;
    background-color: #D4C1EC;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 20px;
}
.caja{
    background-color: #9F9FED ;
    padding: 40px;
    border-radius: 20px;
}
@media (min-width: 768px) and (max-width: 1024px){
   .contenedor{
    grid-template-columns: repeat(2,2fr);
   }
}

@media(max-width: 768px){
   .contenedor{
    grid-template-columns: repeat(1,1fr);
   }
}